@media (min-width: 768px) {
    #cta-img-nml-x {
        margin-left: -50px;
    }
    #cta-img-nml-50 {
        margin-left: 50px;
    }
}

#cta-text-div {
    z-index: 1;
}

#cta-img-nml-x {
    z-index: 2;
}

#cta-img-nml-50 {
    z-index: 2;
}

@keyframes slide-right {
    0% {
        transform: translateX(1300px);
        opacity: 0%;
    }
    50%{
        opacity: 30%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.animate-slide-right {
    animation: slide-right 1.5s ease-in-out;
}

@keyframes slide-left {
    0% {
        transform: translateX(-1300px);
        opacity: 0%;
    }
    50%{
        opacity: 30%;
    }
    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

.animate-slide-left {
    animation: slide-left 1.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-in forwards;
}

@keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-wiggle {
    animation: wiggle 1.5s ease-in-out infinite;
  }